
@{
    Layout = null;
}
@Styles.Render("~/Content/ChiTiet.css")
<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Chi tiết</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>

    </header>
    <header>
        <div class="abc">
            <div class="row" style="z-index:2">
                <div id="box1" class="col">
                    <a href="~/Sach/TrangChu"><img class="img-responsive" src="~/Image/logo.png" alt="logo"></a>
</div>
                <div id="box2" class="col">
                    <div class="search-container">
                        <form action="~/Sach/TimKiem" method="get">
                            <input type="text" name="tensach" placeholder="Tìm kiếm sản phẩm">
                            <button>Tìm</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div id="box3">
                        @if (Session["taikhoan"] != null && !Session["taikhoan"].Equals(""))
                        {
                            if (Session["quyen"].ToString() != "admin")
                            {
                            <div class="dropdown">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> @Session["taikhoan"]</a>
                                <div class="dropdown-content">
                                    <a href="#">Thông tin tài khoản</a>
                                    <a href="#">Đơn hàng</a>
                                    <a href="~/Sach/DangXuat">Đăng xuất</a>
                                </div>
                            </div>
                            }
                            else
                            {
                                <div class="dropdown">
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> @Session["taikhoan"]</a>
                                    <div class="dropdown-content">
                                        <a href="#">Thông tin tài khoản</a>
                                        <a href="#">Đơn hàng</a>
                                        <a href="~/Sach/DangXuat">Đăng xuất</a>
                                    </div>
                                </div>
                            }
                            <a href="~/Sach/GioHang"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng(@ViewBag.SoLuong)</a>
                            if (Session["quyen"].ToString() == "admin")
                            {
                                <div class="dropdown">

                                    <a href="#"> <i class="fa fa-bars" aria-hidden="true"></i> Quản lý</a>
                                    <div class="dropdown-content">
                                        <a href="~/Sach/QuanLy">Biểu đồ</a>
                                        <a href="~/Sach/QuanLyKhachHang">QL khách hàng</a>
                                        <a href="~/Sach/QuanLySanPham">Quản lý sản phẩm</a>
                                        <a href="~/Sach/LichSuHeThong">Lịch sử hệ thống</a>
                                        <a href="~/Sach/LichSuMuaSach">Lịch sử bán</a>
                                    </div>
                                </div>}
                        }
                        else
                        {
                            <a href="~/Sach/DangNhap"> <i class="fa fa-sign-in"></i> Đăng nhập</a>
                            <a href="~/Sach/DangKy"> <i class="fa fa-pencil-square-o"></i> Đăng ký</a>
                        }
                    </div>
                </div>
            </div>
            <div class="row1" style="z-index:1">
                <div class="col1">
                    <div id="box1">
                               <div class="menu1">
                                <ul>
                                    <div id="danhmuc">
                                        <li>DANH MỤC</li>
                                    </div>
                                    <li><a href="http://localhost:60030/Sach/SanPham">Top sách hay</a></li>
                                    <li><a href="http://localhost:60030/Sach/SanPham">Sách kinh tế</a></li>
                                    <li><a href="http://localhost:60030/Sach/SanPham">Sách tâm lý</a></li>
                                    <li><a href="http://localhost:60030/Sach/SanPham">Sách khoa học</a></li>
                                    <li><a href="http://localhost:60030/Sach/SanPham">Sách khoa học</a></li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col1">
                    <div id="box2">
                        <div class="wrapper">
                            <form action="~/Sach/addCart?masach=@ViewBag.ChiTiet.masach" method="post">
                                <div class="left_content">
                                    <img src="~/UploadedFiles/@ViewBag.ChiTiet.hinh" style="width:100%;height:100%;">
                                </div>
                                <div class="center_content">
                                    <div class="center_title">@ViewBag.ChiTiet.tensach</div>
                                    <div class="gia_tien">@ViewBag.ChiTiet.gia Đ</div>
                                    <div class="bcd"><input type="number" name="soluong" value="1"/></div>
                                    <h1><button>CHỌN MUA</button></h1>
                                    <h2>Chi Tiết</h2>
                                    <hr />
                                    <p style="font-weight: bold;">@ViewBag.TenChiTietSach</p>
                                <p>
                                    @ViewBag.ChiTietSach
                                </p>

                                </div>
                                <div class="right_content">
                                    <p style="font-weight: bold;text-align:center;">THÔNG TIN SÁCH</p>
                                    @*<div class="right_title">Mã hàng: @ViewBag.ChiTiet.MaHang</div>*@
                                    <div class="right_title">Tên Nhà Cung Cấp: @ViewBag.NhaCungCap</div>
                                    <div class="right_title">Hình thức: @ViewBag.HinhThuc</div>
                                    <div class="right_title">Tác giả: @ViewBag.TacGia</div>
                                    @*<div class="right_title">Người Dịch: @ViewBag.ChiTiet.NguoiDich</div>
                                <div class="right_title">NXB: @ViewBag.ChiTiet.NXB</div>
                                <div class="right_title">Năm XB: @ViewBag.ChiTiet.NamXB</div>
                                <div class="right_title">Kích thước: @ViewBag.ChiTiet.KichThuoc</div>
                                <div class="right_title">Số trang: @ViewBag.SoTrang</div>
                                <div class="right_title">Ngôn ngữ: @ViewBag.NgonNgu</div>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="social-network">
                <div class="row-image6" id="intro=image6">
                    <div class="col-image6">
                        <div id="box1-image6">
                            <button><i class="fa fa-facebook"></i></button>
                        </div>
                    </div>
                    <div class="col-image6">
                        <div id="box2-image6">
                            <button><i class="fa fa-instagram"></i></button>
                        </div>
                    </div>

                    <div class="col-image6">
                        <div id="box3-image6">
                            <button><i class="fa  fa-youtube-play"></i></button>
                        </div>
                    </div>
                    <div class="col-image6">
                        <div id="box4-image6">
                            <button><i class="fa  fa-twitter"></i></button>
                        </div>
                    </div>
                    <div class="col-image6">
                        <div id="box5-image6">
                            <button><i class="fa fa-google-plus-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="logo">
                    <img class="img-responsive" src="~/Image/logo.png" alt="logo">
                    </img>
                </div>
                <div class="copy-right">
                    <p>© By Phạm Tường Huy</p>
                </div>
            </footer>
</body>
</html>
